@import url('https://rsms.me/inter/inter.css');

:root {
  --background: #eeede9;
  --border-light: #e3e3e3;
  --text-dark: #1c1917;
  --text-light: #78716c;
  --text-extralight: #a8a29e;
  --text-warning: #f97316;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --button-dark: #0f172a;
  --orange-light: #ffedd5;
  --green-light: #dcfce7;
  --sky-light: #e0f2fe;
  --violet-light: #ede9fe;
  --rose-light: #ffe4e6;
  --amber-light: #fef3c7;
  --lime-light: #ecfccb;
  --fuchsia-light: #fae8ff;
  --orange: #fb923c;
  --green: #4ade80;
  --sky: #38bdf8;
  --violet: #a78bfa;
  --rose: #fb7185;
  --amber: #fbbf24;
  --lime: #a3e635;
  --fuchsia: #e879f9;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
