.syncFooter {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  align-self: flex-start;
  padding: 0 6px;
  font-size: var(--font-size-sm);
  color: var(--text-light);
}

.syncFooter p {
  margin: 0;
  padding: 0;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 9999px;
}

.dotBlue {
  background-color: #15e3ff;
}

.dotOrange {
  background-color: #f7c444;
}
